<h1>Selected Board: {{ board.board.public.name }}</h1>
<div class="time">
  <form class="" action="/time/" method="post">
    <p>
      <label for="card_apikey">Card</label>
      <select name="card_apikey">
          <option value="">--Select a Card--</option>
        {{#each board.cards}}
          <option value="{{ this.public.apikey }}">{{ this.public.name }}</option>
        {{/each}}
      </select>
    </p>
    <p>
      <label for="hours">Timer</label>
      <input id="timer" type="input" name="timer" value="00:00:00">
      <span id="toggle-timer" class="button small success">Start Timer</span>
    </p>
    <input type="hidden" name="client_apikey" value="{{ board.cards.0.client.public.apikey }}">
    <input type="hidden" name="board_apikey" value="{{ board.cards.0.board.public.apikey }}">
    <input type="hidden" name="list_apikey" value="{{ board.cards.0.list.public.apikey }}">
    <p>
      <input type="submit" name="submit" value="SUBMIT" class="button medium">
    </p>
  </form>
</div>
